.DS_Store
node_modules
npm-debug.log
components
bower_components
temp
*.iml
/build
/dist/docs

# Integration stuff
/test/e2e/vertx/app/mods/io.vertx~mod-auth-mgr~2.0.0-final
/test/e2e/vertx/app/mods/io.vertx~mod-web-server~2.0.0-final
/test/e2e/vertx/vert.x-*
/test/e2e/vertx/runtime
