.DS_Store
node_modules
components
bower_components
temp

# Integration stuff
/test/e2e/vertx/app/mods/io.vertx~mod-auth-mgr~2.0.0-final
/test/e2e/vertx/app/mods/io.vertx~mod-web-server~2.0.0-final
/test/e2e/vertx/vert.x-*
