sudo: false
language: node_js
node_js:
  - "4.4"

addons:
  code_climate:
    repo_token: 94ea5ac76984c311dcbadb53a52dd219400775e20402587a0063d8b9d3a66bca

before_install:
  - npm install -qg npm

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

after_script:
  - if [ "$TEST_SCOPE" == "" ]; then npm install -g codeclimate-test-reporter && codeclimate-test-reporter < build/coverage/report/lcov.info; fi

env:
  - TEST_SCOPE=
  - TEST_SCOPE=angular_1.2.x
  - TEST_SCOPE=angular_1.3.x
  - TEST_SCOPE=angular_1.4.x
  - TEST_SCOPE=angular_1.5.x
