<html>
<head>
  <title>knalli.angular-vertxbus</title>
</head>

<body ng-app="app">

  <div ng-controller="MyController as ctrl">
    <form>
      <input type="button" value="Register for TimeService" ng-click="ctrl.registerTimeService()">
      <input type="button" value="Deregister for TimeService" ng-click="ctrl.deregisterTimeService()" ng-disabled="!ctrl.timeServiceActive">
      <input type="button" value="Deregister for TimeService (2x)" ng-click="ctrl.deregisterTimeService2x()" ng-disabled="!ctrl.timeServiceActive">
      <input type="text" size="50" disabled ng-model="ctrl.currentDateTime">
      <br>
      Custom headers: <input type="text" size="50" ng-model="ctrl.customToken" placeholder="Valid tokens starts with 'VALID-'">
      <input type="button" value="Store token" ng-click="ctrl.refreshDefaultHeaders(ctrl.customToken)">
      <pre>The commands will be only successful if header named token and a valid value exist.</pre>
      <br>
      Auth Handler:
      <input type="button" value="Enable authHandler" ng-click="ctrl.enableAuthHandler()">
      <input type="button" value="Disable authHandler" ng-click="ctrl.disableAuthHandler()">
      <pre>If enabled, the authHandler will set such a token automatically on-the-fly.</pre>
      <br>
      <input type="button" value="Send PING" ng-click="ctrl.sendPing()">
      <input type="button" value="Send NON-PING" ng-click="ctrl.sendNonPing()">
    </form>
  </div>

  <fieldset>
    <legend>Statistics</legend>
    <dl>
      <dt>vertxEventBus.readyState()</dt>
      <dd>{{moduleStats.wrapper.readyState | eventBusState}}</dd>
      <dt>vertxEventBusService.readyState()</dt>
      <dd>{{moduleStats.service.readyState | eventBusState}}</dd>
      <dt>vertxEventBusService.getConnectionState()</dt>
      <dd>{{moduleStats.service.getConnectionState | eventBusState}}</dd>
      <dt>vertxEventBusService.isEnabled()</dt>
      <dd>{{moduleStats.service.isEnabled}}</dd>
      <dt>vertxEventBusService.isConnected()</dt>
      <dd>{{moduleStats.service.isConnected}}</dd>
      <dt>vertxEventBusService.isAuthorized()</dt>
      <dd>{{moduleStats.service.isAuthorized}}</dd>
    </dl>
  </fieldset>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/sockjs-client/dist/sockjs.js"></script>
  <script src="bower_components/vertx3-eventbus-client/vertx-eventbus.js"></script>
  <script src="dist/angular-vertxbus.js"></script>
  <script src="app.js"></script>

</body>
</html>
